.signin-page-wrapper {
  padding: 72px 32px;
}

.login-message-container {
  margin-bottom: 32px;
  text-align: center;
}

.login-logo-wrapper {
  margin: 0 auto;
}

.login-logo {
  margin: 0 auto 40px;
}

.login-form-container {
  margin: 0 auto;
  max-width: 360px;

}

.login-title {
  font-size: var(--text-4xl);
  font-weight: 600;
  margin-bottom: 16px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-form__validation {
  margin-top: 32px;
}

.login-form__forgot-password {
  text-align: right;
  font-size: var(--text-sm);
  font-weight: 600;
}
